<% if policy(@note).create? %>
  <%= link_to 'Add', new_note_path(@user.display_name), class: 'btn btn-primary' %>
<% end %>

<div class="list-group">
  <% @notes.each do |note| %>
    <%= link_to note.title, note_path(@user.display_name, note.slug), class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>
