<% if policy(@note).create? %>
  <%= link_to 'Add', new_note_path(@user.display_name) %>
<% end %>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= link_to note.title, note_path(@user.display_name, note.slug) %>
    </li>
  <% end %>
</ul>
