// custom styles
code {
  color: inherit;
}

blockquote {
  border-left: solid 2px $gray-500;
  padding-left: 10px;
}

.invalid-feedback {
  display: block;
}

.rendered-markdown {
}

.markdown-editor {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.navbar-logo {
  width: 30px;
  height: 30px;
}
