code {
  color: inherit;
}

.invalid-feedback {
  display: block;
}

.rendered-markdown {
}

.markdown-editor {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}
